<div class="quiz">
  @if(_quizService.showResults()){
  <div class="results">
    <div class="congratulations">Congratulations!</div>
    <div class="results-info">
      <div>You have completed the quiz.</div>
      <div>
        You've got {{ _quizService.correctAnswersCount() }} of
        {{ _quizService.questions().length }} right.
      </div>
    </div>
    <div class="next-button" (click)="_quizService.restartQuestions()">
      Restart
    </div>
  </div>
  } @if(!_quizService.showResults()){
  <div>
    <div class="score">
      Question {{ _quizService.currentQuestionIndex() + 1 }}/{{
        _quizService.questions().length
      }}
    </div>
    <quiz-question />
    @if(_quizService.currentAnswer()) {
    <div (click)="_quizService.goToNextQuestion()" class="next-button">
      Next question
    </div>
    }
  </div>
  }
</div>
